/*
#headerLine{height : 40px;  margin : 0 auto; background: blueviolet;}
*/
#Menu {
    text-align: center;
    margin: 0 auto;
}

.line {
    background-color: black;
    height: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    align-items: flex-end;
}

.box {
    text-align: left;
    margin: 0 auto;
    width: 600px;
    background: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-color: black;
    border-radius: 40px;
    font-family: 'Poor Story', cursive;
}

.selectArea {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
}

.selectGender {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
}

.selectStyle {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 25px;
}

.outfitButton {
    margin-top: 40px;
    margin: auto;
}

#Menu h4 {
    color: black;
    font-weight: bold;
    font-size: 40px;
}

#Menu select {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
}

.checkbox input[type="radio"] {
    margin-right: 10px;
}

.selectFirst,
.selectSecond {
    display: flex;
    margin-top: 10px;
}

.selectFirst input[type="radio"],
.selectSecond input[type="radio"] {
    margin-right: 10px;
}

.getOutfit{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}