#resultWeather {
    display: flex;
    margin-left: 200px;
    width: 400px;
    background: white;
    border-radius: 15px;
}

.line {
    background-color: black;
    height: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    color: white;
    align-items: flex-end;
}

.name {
    position: relative;
    top: 10px;
}

.weather {
    position: relative;
    bottom: 20px;
}

.WeatherComent {
    color: black;
    text-align: center;
}

.weather-widget {
    position: absolute;
    top: 20px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 400px;
    height: 130px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Gowun Dodum', sans-serif;
}

.weather-icon {
    margin-left: 20px;
    margin-right: 15px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.weather-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    color: #333;
}

.weather-location {
    font-size: 12px;
    margin-bottom: 5px;
}

.weather-temp {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.weather-desc {
    text-transform: capitalize;
}

#outfitContainer {
    position: relative;
    padding: 0 80px;
}

#outfitContainer > div {
    float: left;
    width: calc(20% - 10px);
    margin: 0 10px 10px 0;
    background: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-color: black;
    border-radius: 40px;
}

#outfitContainer > div img {
    display: block;
    margin: 0 auto; /* Center the images horizontally */
    margin-top: 10px;
    width: 220px;
    height: 330px;
    background-color: white;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    overflow: hidden;
}

#outfitContainer > div > div {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the images vertically */
    height: 100%; /* Ensure the container takes up the full height */
    margin-top: 10px;
    margin-bottom: 10px;
}

#outfitContainer > div > div button{
    width: 75px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

#outfitContainer > div > div button:hover {
    transform: scale(1.05);
    background-color: #eee;
    border-color: #000;
}

#outfitContainer > div > div button:active {
    background-color: black; /* 클릭 시 변경할 배경색 */
    color: #ffffff; /* 클릭 시 버튼 텍스트 색상 변경 */
    /* 추가적인 스타일 속성들 */
}

.backButton {
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 3px;
    background: rgba(0, 0, 0, 0.1);
    color: #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.backButton:hover {
    transform: scale(1.05);
    background-color: #eee;
    border-color: #000;
}

.backButton:active {
    background-color: black; /* 클릭 시 변경할 배경색 */
    color: #ffffff; /* 클릭 시 버튼 텍스트 색상 변경 */
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    /* 추가적인 스타일 속성들 */
}